

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
}

.faq-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 20px;
}

.faq{
  width: 60%;
  margin: 10px 0;
  text-align: center;
}

.faq .question {
  position: relative;
  margin-bottom: 5px;
  font-size: 1.3rem;
  padding: 7px 0;
  display: flex;
  justify-content: center;
}

.question:hover {
  background-color: rgba(223, 221, 221, 0.507);
  border-radius: 20px;
}

.faq .answer {
  opacity: 0;
  height: 0;
  
}


.faq-open {
  height: fit-content;
}

.faq-open .question {
  padding: 10px 0;
  margin-bottom: 5px;
}

.faq-open .answer {
  opacity: 1;
  height: fit-content;
  transition: all 0.4s ease;
}

.arrow {
  position: absolute;
  top: 20%;
  right: 10px;
  transition: 0.4s;
  
}

.arrow-up {
  transform: rotate(90deg);
  transition: transform 0.4s;
}